<ion-view hide-nav-bar="true">
<!--   <ion-header-bar>
    <h1 class="title">Log</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content style='background-color: white' class="login-container">
      <div class="logo_home">
        <img src="../img/Logo_meetc.png"/>
      </div>
      <div class="list">
        <label class=></label>
        <label class="">

          <div ng-click="facebookConnect()"><button class="button homepage_fb homepage_button">Connection via Facebook </button></div>

        </label>
      </div>

<p class="mess_home">
  Let's do something
</p>
  </ion-content>
</ion-view>