<ion-view view-title="List of Participants">
  <ion-content>
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/participant.jpg", >

      <h2>Barbara Vitoria</h2>
       <p>ITC fellows</p>

    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/participant2.jpg", >

      <h2>Eva Lidoni</h2>
       <p>ITC Bootcamp</p>

    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/participant3.jpg", >

      <h2>Raphael Fettaya</h2>
       <p>ITC fellows</p>

    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/participant4.jpg", >

      <h2>More Lady</h2>
       <p>ITC fellows</p>

    </a>

</div>  </ion-content>
</ion-view> 
