<link href="css/wall.css" rel="stylesheet">

<ion-view view-title="Events">

  <ion-content>
    <div class="container-centered">
    <ion-list>
      <div class="button-bar vspace">
	        <a class="button button-large button-balanced btn-create" href="#/app/search">
		      Create Event
		    </a>
	  	  </div>
      <ion-item ng-repeat="playlist in playlists" href="#/app/browse">

		  

	      <div class="list card wrapping-list hspace">

	      	<div class="event-list-item silver">

			  <div class="item item-avatar silver">
			    <img src="img/avatar.jpg">
			    <list class="playlist-title">{{playlist.title}}</list>
			    <span class="playlist-location">{{playlist.location}}</span>
			    <span class="playlist-creator">{{playlist.creator}}</span>
			  </div>

			  <div class="item item-image event-list-cover">
			    
			  </div>

			  <button class="button button-block button-calm">
  				Join
			  </button>

			</div>
			
		  </div>

      </ion-item>

    </ion-list>
	</div>
  </ion-content>

</ion-view>
