/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Handlee);
.homepage_button{
	width: 90%;
	height: 60px;
	margin-left: 5%;
	margin-right: 5%;
	color:#fff;
	font-weight: bold;
	border-radius: 5px;
	font-size: 17px;
	margin-top: 50px;
}
.homepage_fb{
	background-color: #4A90E2;
	font-family: Klavika Bold ;
	font-size: 22px;
	width: 85%;
}
.logo_home img{
	width: 70%;
	padding-top: 100px;
}

.mess_home{
	font-size: 25px;
	text-align: center;
	margin-top: 70px;
	font-weight: bold;
	color: #363B40;
}
.list_card{
	font-size: 25px;
	text-align: center;
	margin-top: 70px;
	font-weight: bold;
	color: #363B40;
}

.button-female{
	background-color: #FBAED2 !important;

}

p{
	font-family: 'Handlee', cursive;

}

.login-container{
	text-align: center;
}

/* Empty. Add your own CSS if you like */
.platform-ios8, .platform-ios8_4, .platform-android4, .platform-android4_4 {
	// background-color: #4A90E2;
}

.item-content {
	background-color: rgba(0,0,0,0);
}

.playlist-title {
	font-size: 20px;
	font-weight: 500;
	color: #444444;
	display: block;
}

.playlist-location {
	font-size: 16px;
	font-weight: 400;
	color: #888888;
	display: block;
}

.playlist-creator {
	font-size: 16px;
	font-weight: 400;
	color: #666666;
	display: block;
	position: relative;
	text-align: right;
	width: 100%;
}

.silver {
	background-color: #EEEEEE;
}

.meetc-blue {
	background-color: #4A90E2;
}

.event-list-cover {
	margin: 0;
}