/* Empty. Add your own CSS if you like */
.platform-ios8, .platform-ios8_4, .platform-android4, .platform-android4_4 {
	// background-color: #4A90E2;
}

.vspace {
	margin-top: 10px;
}

.container-centered {
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.item-content {
	background-color: rgba(0,0,0,0);
}

.silver {
	background-color: #EEEEEE;
}

.meetc-blue {
	background-color: #4A90E2 !important;
}

.btn-create {
	background-color: black;
}

.playlist-title {
	font-size: 20px;
	font-weight: 500;
	color: #444444;
	display: block;
	text-align: left;
	width: 100%;
}

.playlist-location {
	font-size: 16px;
	font-weight: 400;
	color: #888888;
	display: block;
	text-align: left;
	width: 100%;
}

.playlist-creator {
	font-size: 16px;
	font-weight: 400;
	color: #666666;
	display: block;
	position: relative;
	text-align: right;
	width: 100%;
}

.event-list-cover {
	margin: 0;
}